.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: hsl(185, 75%, 39%);
  background-image: url(https://card-poke-simple.netlify.app/images/bg-pattern-top.svg);
  background-image: url(	https://card-poke-simple.netlify.app/images/bg-pattern-top.svg);
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  text-align: center;
}